{% extends "main/layout.html" %}
{% block content %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js" type="text/javascript"></script>
<div class="cart">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 mt-5">
                
                {% if items %}
                <h2 class="text-center">Total Food Price : <span id="totalValue">{{total}}</span></h2>
                <div class="col-sm-12">
                    <div class="col-sm-4" style="float:left;margin-left:178px;">
                        <h4 class="text-center">Please Enter your EIR Code </h4>
                    </div>
                    <div class="col-sm-6" style="float:left;">
                        <select id="address" style="width:250px;">
                    <option value="Select Address">--Select Address--</option>
                    <option value="D01">D01</option>
                    <option value="D02">D02</option>
                    <option value="D03">D03</option>
                    <option value="D04">D04</option>
                    <option value="D05">D05</option>
                    <option value="D06">D06</option>
                    <option value="D07">D07</option>
                    <option value="D08">D08</option>
                    <option value="D09">D09</option>
                    <option value="D10">D10</option>
               </select>    
               <input type="submit" id="btnSubmit" value="Submit" class="btn btn-success" onclick="btnSubmitClick();" />
                    </div>
                </div>
                 
                
                
                
                <!-- <h4 class="text-center">Total Bill Amount After Discount : {{total_with_discount}} for {{ count }} Orders.</h4> -->
                <h6 id="lblDeliveryMessage" class="text-center"></h6>
                <h6 class="text-center">Please Pay Either via Gpay or Cash on Delivery!</h6>
                <div class="table-responsive">
                    <table class="table table-light">
                        <thead>
                        <tr>
                            <th scope="col">Date of the Orderder Food</th>
                            <th scope="col">Ordered Product</th>
                            <th scope="col">Price</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for item_active in items %}
                        <tr>
                            <td>{{ item_active.ordered_date }}</td>
                            <td>{{ item_active.item.title }} <span class="badge badge-{{ item_active.item.label_colour }}">{{ item_active.item.labels }}</span></td>
                            <td>{{ item_active.item.price }}</td>
                        </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% else %}
                <h4 class="text-center">Sorry, you have not ordered any item yet!!!</h4>
                {% endif %}
            </div>
        </div>

        
        
    </div>
</div>

<script type="text/javascript">

    var $j = jQuery.noConflict();
    $j(document).ready(function() {
        
    });

    function btnSubmitClick()
        {
            
            var addressValue = $j("#address").val();
            if(addressValue=="Select Address")
            {
                alert("invalid address");
                return false;
            }
            var totalValue = $j("#totalValue").html();
            var url = "{% url 'main:my_function' %}?address=" + addressValue+"&total="+totalValue; 
            alert(url);
            $j.ajax({
                type: 'GET',
                url: url,
                success: function(data) {
                    if (data.success) 
                    {
                        $("#lblDeliveryMessage").html("Total Order Charges including Deilvery is "+data.data);
                    } else {
                        alert('Error!');
                    }
                },  
                error: function() {
                    alert('Error: ');
                }
            });
        }
       
</script>
<script>
function myFunction() {
  var x = document.getElementById("address").value;
  
  if x = 'D01'
  document.getElementById("Total Bill including Deilvery Charge is "+);
  if x = 'D02'.
  document.getElementById("Total Bill including Deilvery Charge is"+);
  if x = 'D03'.
  document.getElementById("Total Bill including Deilvery Charge is"+);
  if x = 'D04'.
  document.getElementById("Total Bill including Deilvery Charge is "+);
  if x = 'D05'.
  document.getElementById("Total Bill including Deilvery Charge is "+);
  if x = 'D06'.
  document.getElementById("Total Bill including Deilvery Charge is "+);
  if x = 'D07'.
  document.getElementById("Total Bill including Deilvery Charge is "+);
  if x = 'D08'.
  document.getElementById("Total Bill including Deilvery Charge is "+);
  if x = 'D09'.
  document.getElementById("Total Bill including Deilvery Charge is "+);
  if x = 'D10'.
  document.getElementById("Total Bill including Deilvery Charge is "+);
}
</script>

{% endblock content %}

